/* Table */
#portfolio-table-div {
  max-height: 70vh;
  overflow: scroll;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#portfolio-table,
td,
th {
  border: 1px solid black;
}

thead,
tfoot {
  font-size: 1.1rem;
  font-weight: 900;
  background-color: black;
  color: white;
}

/* select-currency-input */
.select-currency-input {
  width: auto;
  text-align: center;
}

/* Tooltips texts style */
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.9rem;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
