/* Main title and buttons: wallet-menu-div */
#wallet-menu-div {
  width: 65vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

/* Portfolio Table */
#portfolio-table-div {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

#portfolio-table,
td {
  border: 1px solid black;
}

thead,
tfoot,
th {
  font-size: 1.1rem;
  font-weight: 900;
  background-color: black;
  color: white;
}

/* select-currency-input */
.select-currency-input {
  width: auto;
  text-align: center;
  margin-bottom: 0;
}

/* Tooltips texts style */
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.9rem;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Canvas div */

#canvas-graphs-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 1.5rem;
}

#canvas-PortfolioHistory-div {
  width: 50vw;
  padding: 0 3vw;
}

#canvas-AssetType-id {
  width: 30vw;
  padding: 0 3vw;
}

@media screen and (max-width: 1024px) {
  #canvas-PortfolioHistory-div {
    width: 65vw;
  }
  #canvas-AssetType-id {
    width: 40vw;
  }
}

@media screen and (max-width: 540px) {
  #canvas-PortfolioHistory-div {
    width: 90vw;
  }
  #canvas-AssetType-id {
    width: 50vw;
  }
}
