/* Styles for the Wallet component and also some subcomponents (Detailed Asseted for example) */

/* Main title and buttons: wallet-menu-div */
#wallet-menu-div {
  width: 65vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

/* Portfolio Table */
#portfolio-table-div {
  display: flex;
  justify-content: center;
  margin: 0 0.1rem 1.5rem 0.5rem;
}

#portfolio-table,
td {
  border: 1px solid black;
}

thead,
tfoot,
th {
  font-size: calc(0.9rem + 0.2vmin);
  font-weight: 900;
  background-color: black;
  color: white;
  padding: 0 0.5rem;
}

td {
  font-size: calc(0.85rem + 0.2vmin);
  max-width: 20vw;
}

/* select-currency-input */
.select-currency-input {
  text-align: center;
  margin-bottom: 0;
  max-width: fill-available;
  padding: 0 1.5rem;
  font-size: 0.9rem;
}

/* Tooltips texts style */
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.9rem;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Canvas div */
#canvas-graphs-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 1.5rem;
}

#canvas-PortfolioHistory-div {
  width: 50vw;
  padding: 0 3vw;
}

#canvas-AssetType-id {
  width: 30vw;
  padding: 0 3vw;
}

/* Detailed Asset Component */
#detailed-asset-main-div {
  margin: 1.5rem 0.5rem;
}
.asset-details-basic-information-table {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/* Media queries */
@media screen and (max-width: 1024px) {
  #wallet-menu-div {
    width: 75vw;
  }
  #portfolio-table-div {
    overflow-x: scroll;
    justify-content: flex-start;
  }
  #canvas-PortfolioHistory-div {
    width: 65vw;
  }
  #canvas-AssetType-id {
    width: 40vw;
  }
  .select-currency-input {
    padding: 0 0.5rem;
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  #wallet-menu-div {
    width: 85vw;
  }
  .asset-details-basic-information-table {
    overflow-x: scroll;
    justify-content: flex-start;
  }
  .select-currency-input {
    padding: 0 0.5rem;
    text-align: left;
  }
}

@media screen and (max-width: 540px) {
  hr {
    margin: 2vh 0;
  }
  #wallet-menu-div {
    width: 90vw;
  }
  #canvas-PortfolioHistory-div {
    width: 90vw;
  }
  #canvas-AssetType-id {
    width: 50vw;
  }
  .select-currency-input {
    padding: 0;
    text-align: left;
  }
}
