#header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  background-color: black;
  color: white;
  padding: 0 1rem;
  border-bottom: 2px solid white;
}

#logoImg {
  width: 30px;
  margin-right: 1rem;
}

#logo-div {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
}

/* Styling for links  */
.no-link-decoration-logo {
  text-decoration: none;
  color: white;
}

.no-link-decoration {
  text-decoration: none;
  color: white;
}

.no-link-decoration:hover {
  text-decoration: underline;
  color: lightgray;
  transition: all 400ms ease-in-out 0ms;
}

.no-link-decoration-black {
  text-decoration: none;
  color: black;
}

/* Nav bar */
#nav-bar-small,
#nav-bar-large {
  display: flex;
  justify-content: space-around;
}

#nav-bar-small {
  width: 30vw;
}

#nav-bar-large {
  width: 40vw;
}

#wallet-nav-div {
  width: 20vw;
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  padding: 5px;
}
