#logo-div > h2 {
  font-size: calc(1rem + 0.75vmin);
}

#header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  background-color: black;
  color: white;
  padding: 0 1rem;
  border-bottom: 2px solid white;
}

#logoImg {
  width: 2rem;
  margin-right: 1rem;
}

#logo-div {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  letter-spacing: 0.1rem;
}

#nav-bar-small {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}

#nav-bar-large {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

.linksSmallContainer {
  display: inline-flex;
  padding: 5px 0;
  border: 1px solid white;
  overflow-x: hidden;
  flex-wrap: nowrap;
  margin-right: 5%;
  border-radius: 0.45rem;
}

.linksLargeContainer {
  display: inline-flex;
  border: 1px solid white;
  padding: 5px 0;
  overflow-x: hidden;
  flex-wrap: nowrap;
  margin-right: 5%;
  border-radius: 0.45rem;
}

.linksLargeContainer-infoSection {
  display: inline-flex;
  align-items: center;
  border: 1px solid white;
  overflow-x: hidden;
  flex-wrap: nowrap;
  margin-right: 5%;
  border-radius: 0.45rem;
}

@media screen and (max-width: 1280px) {
  #nav-bar-small {
    width: 70%;
  }

  .linksSmallContainer {
    margin-right: 1%;
  }

  #nav-bar-large {
    width: 70%;
  }
  .linksLargeContainer-infoSection {
    margin-right: 1%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .linksLargeContainer {
    margin-right: 1%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #nav-bar-large {
    width: 70%;
  }
}

@media screen and (max-width: 1080px) {
  .linksLargeContainer-infoSection {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #nav-bar-small-mobile {
    margin-top: 0;
    position: absolute;
    right: 0px;
    height: 80%;
    top: 8vh;
    background-color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    opacity: 0.9;
    transition: 0.4s ease;
  }
  .link-mobile {
    margin: 5%;
  }

  #nav-bar-large-mobile {
    margin-top: 0;
    position: absolute;
    right: 0px;
    height: 80%;
    top: 8vh;
    background-color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    opacity: 0.9;
  }

  #nav-bar-small {
    display: none;
  }

  #nav-bar-large {
    display: none;
  }

  .burger {
    display: block;
  }
}

/* Styling for links  */
.no-link-decoration-logo {
  text-decoration: none;
  color: white;
}

.no-link-decoration {
  text-decoration: none;
  color: white;
  margin: 0.5rem;
}

.no-link-decoration:hover {
  text-decoration: underline;
  color: lightgray;
  transition: all 400ms ease-in-out 0ms;
}

.no-link-decoration-black {
  text-decoration: none;
  color: black;
}
