/* General configs */
* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: calc(0.75rem + 0.5vmin);
}

.main-container {
  max-width: 100%;
  max-height: 92%;
  width: 100vw;
  height: 92vh;
}

.bg-titanium {
  background-color: rgb(226, 226, 226);
}

/* centering objects */
.center-content {
  text-align: center;
  padding-top: 10vh;
}

.center-object {
  display: flex;
  justify-content: center;
}

/* General text configs */
h1 {
  font-size: calc(1.25rem + 1vmin);
}
h2 {
  font-size: calc(1rem + 0.75vmin);
}

/* Button configuration */
button {
  padding: 0.3rem 0.9rem;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 0.5rem;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;

  transition: all 500ms ease-in-out 0ms;
}
button:focus {
  background-color: lightgray;
  color: black;
  border: 1px solid black;
}

/* Input configuration */
input,
select,
textarea {
  border: 1px solid rgb(72, 72, 72);
  background-color: rgb(236, 236, 236);
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
  padding: 0.2rem 0.8rem;
  transition: border 0.3s ease;
}
