*{
  font-family: "Poppins", sans-serif;
  font-size: calc(0.75rem + 0.5vmin);
  margin: 0;

}


.main-container {
  max-width: 100%;
  max-height: 92%;
  width: 100vw;
  height: 92vh;
}


/* ALTERADO PARA CONFIGURAR A HOMEPAGE */
/* * {
  margin: 0;

  font-family: "Poppins", sans-serif;
  font-size: calc(0.75rem + 0.5vmin);
} */
/* ............. */

/* ALTERADO PARA CONFIGURAR A HOMEPAGE */
/* .main-container {
  max-width: 100%;
  max-height: 100%;
  width: 100vw;
  height: 100vh;
} */
/* ............. */



  
.bg-titanium {
  background-color: rgb(226, 226, 226);
}
/* .bg-titanium {
  background: #283048; fallback for old browsers */
/* background: -webkit-linear-gradient(
    to bottom,
    #859398,
    #283048 */
/* ); Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(
    to bottom,
    #859398,
    #283048 */
/* ); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
} */
/* Azul da logo */
/* rgb(40, 48, 72) */

/* Cinzas */
/* rgb(107, 107, 108) */
/* rgb(72, 72, 72) */


/* ALTERADO PARA CONFIGURAR A HOMEPAGE */ 
/* .center-content {
  text-align: center;
}

.center-object {
  display: flex;
  justify-content: center;
} */

/* General button configuration */
/* button {
  padding: 5px 15px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 0.5rem;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;

  transition: all 500ms ease-in-out 0ms;
}
button:focus {
  background-color: lightgray;
  color: black;
  border: 1px solid black;
} */
/* ............. */