body {
  text-align: center;
}

.main-crypto-page-div {
  margin: 1rem 1.5rem;
}

.horizontal-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5rem;
  border-bottom: 1px solid black;
  width: 100%;
}

.ImgNameSymbol-div {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ImgNameSymbol-div img {
  height: 1.875rem;
  width: 1.875rem;
  margin-left: 1rem;
}

.coinData-div {
  width: 70%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  padding-left: 10%;
  padding-right: 5%;
}

.marketCap-div {
  margin-right: 8rem;
}

.coin-symbol {
  text-transform: uppercase;
}

.cryptocurrency-title {
  margin: 1rem;
}

.crypto-form {
  margin-bottom: 1rem;
}

.red {
  color: red;
}

.green {
  color: green;
}

@media screen and (max-width: 768px) {
  .marketCapRank-div {
    display: none;
  }
  .marketCap-div {
    display: none;
  }

  .coin-name {
    display: none;
  }

  .price-div {
    margin-right: 3rem;
  }

  .coinData-div {
    width: 50%;
    padding-left: 20%;
    padding-right: 10%;
  }
}
