body {
  text-align: center;
}

.main-crypto-page-div {
  margin: 1rem 1.5rem;
}

.horizontal-div {
  display: grid;
  grid-template-columns: 5% 1fr 5% 20% 15% 1fr 5%;
  height: 4.5rem;
  border-bottom: 1px solid black;
  width: 100%;
  align-items: center;
  justify-self: center;
}
.horizontal-div:hover {
 background-color: rgb(221, 217, 217);
}

.horizontal-div img {
  height: 1.875rem;
  width: 1.875rem;
  justify-self: center;
}

.coin-symbol {
  text-transform: uppercase;
}

.cryptocurrency-title {
  margin: 1rem;
}

.crypto-form {
  margin-bottom: 1rem;
}

.red {
  color: red;
}

.green {
  color: green;
}

@media screen and (max-width: 768px) {
  .marketCapRank-div {
    display: none;
  }
  .marketCap-div {
    display: none;
  }

  .coin-name {
    display: none;
  }

  .horizontal-div {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
