/* Main form div */
.converter-form-box {
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  width: 55vw;
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1rem;
}

.converter-form-box p {
  font-size: 0.85rem;
}

/* Form configurations */
.converter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px dashed black;
  margin-left: 0.3rem;
  padding-left: 0.7rem;
}

.converter-form-couple-div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.converter-form-couple-div input {
  width: 13vw;
}

.converter-form-couple-div select {
  width: calc(12vw + 1vmin);
  text-align: center;
}

/* Media query */
@media screen and (max-width: 1280px) {
  .converter-form-box {
    width: 65vw;
  }
}

@media screen and (max-width: 1024px) {
  .converter-form-box {
    width: 70vw;
  }
}

@media screen and (max-width: 768px) {
  .converter-form-box {
    width: 80vw;
  }
  .converter-form-couple-div select {
    width: calc(15vw + 1vmin);
  }
  .converter-form-couple-div input {
    width: 15vw;
  }
}

@media screen and (max-width: 540px) {
  .converter-form-box {
    width: 85vw;
  }
  .converter-form-couple-div {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .converter-form-box h2 {
    width: 40vw;
    font-size: 1.1rem;
  }
  .converter-form-couple-div select {
    text-align: left;
    width: 26vw;
  }
  .converter-form-couple-div input {
    text-align: left;
    width: 20vw;
  }
}
