.title-stocks {
    margin:1rem;
}


/* CONTAINER SEARCHBAR AND RESULTS BY NAME */

.container-searchByName {
    display:flex;
    flex-direction: column;
    justify-content: start;
    
}

.dataResult {
   
    width: 230px;
    height: 150px;
    background-color: white;
    overflow: hidden;
    overflow-y: auto;
   
}

  .inputText-Stocks {
    width: 220px;
  }

  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: start;
    color:black;
}

.no-button-decoration{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* ............................... */

#myCanvas {
    width: 43.75;
    height:rem;
    border: 1px solid black;
  
}


.searchBar {
    display:flex;
    justify-content:start;
    margin-bottom:0.3rem;
}


.divideTwoSections {
    margin:2rem;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.button-Stocks {
    width:10rem;
}
	


