.container-graphic{
    text-align: center;
}
.canvasGraphic {
 
    width: 70%;
    height:40%;
    background-color: white;
    margin: 50px auto;

    
}

body {
    background-color:pink;
}


.searchBar2 {
    background-color:blueviolet;
}