.imgNews {
  width: 100%;
  height: 100%;
  border-radius: 1rem 1rem 0 0;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card-body {
  word-wrap: break-word;
  overflow: hidden;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 200px 270px;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 10px 15px 15px rgba(26, 24, 24, 0.9);
  text-align: center;
  transition: 0.5s ease;
  margin: 2rem;
}

.card-text {
  margin: 25px;
  word-wrap: break-word;
}
.card-text p {
  color: grey;
  font-size: 0.9rem;
  font-weight: 300;
  word-wrap: break-word;
}

.card-text h2 {
  font-size: 0.8rem;
  margin-bottom: 0.1rem;
}
.linkNews{
  text-decoration: none;
  color: black;
}