.container-homepage {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.container-canvas {
  width: 90%;
  min-height: 250px;

  /* border:1px solid black; */
  border-radius: 1rem;
}

.container-stockOfDay {
  /* relacionado a responsividade da homepage (tem que ser vh ao inves de %)*/
  /* background-color: blue; */
  width: 48%;
  height: 80vh;
  /* border: 3px solid black; */
  /* border:1px solid black; */
  border-radius: 1rem;

  /* relacionado a responsividade da do container */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cointainer-infoImg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 1px solid black */
}

.cards-container2 {
  display: flex;
  flex-direction: column;
  width: 30%;
  /* border:1px solid black; */
  border-radius: 1rem;
  margin-left: 0.2rem;
  background-color: black;
  color: white;
}

.card-body2 h2 {
  font-size: 1rem;
  word-wrap: break-word;
}

.container-strips {
  display: flex;
  flex-direction: column;
  width: 45%;

  margin-right: 0.2rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
}

.imgNews2 {
  width: 100%;
  max-height: 20%;
  border-radius: 1rem 1rem 0 0;
  border-bottom: solid 1px white;
}

.container-OurCompany {
  /* background-color: violet; */
  width: 48%;
  height: 80vh;
  /* border: 3px solid black; */

  border: 1px solid black;
  border-radius: 1rem;
}

@media screen and (max-width: 800px) {
  .container-stockOfDay {
    width: 100%;
    height: 83vh;
  }
  .container-OurCompany {
    width: 100%;
    height: 83vh;
  }

  .cards-container2 {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 90px;
  }

  .container-strips {
    margin-top: 20px;
    width: 80%;
    color: white;
  }
}

.stripInformation {
  border-bottom: solid 1px white;
}

/* 
.container-SigmaInfo h2{
 margin:6rem;
}




.container-graphStockDay{
    padding:10px;
}





.card-news{
    background-color: white;
}

.container-strips {
   
    margin-bottom:3px
}




    .card-body2 {
    
    word-wrap: break-word;
    overflow: hidden;
    display: grid;

    grid-template-rows: 105px 125px;
    grid-template-columns: 130px;
background-color: blueviolet;
    text-align: center;
  
  }

  .cards-container2{
      background-color: chartreuse;
  }


  .card-text2 {
    text-align: center;
    word-wrap: break-word;
    display:flex;
    align-items: center;;
    border:1px solid black;
  }
  
   

  
 */
